<h1>About</h1>
<p>This is an app designed to practice using Ruby-on-Rails. It is a (soon to be) ecommerce site. I'm a student of Web Development continually trying to improve on what I do and learn more responsive and interesting ways to do things.</p>