<h1>Contact</h1>
<p>This is all still a work in progress. This is my second Ruby-on-Rails project, but undoubtedly my best one.</p>
<p>Please contact us with any problems via carrier pigeon! Just give the pigeon a note and tell him to take it to Berlin Bikes. He'll know where to go.</p>
