// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #fff;
    color: #4f3a21;
    font-family: 'Comfortaa', cursive;
    padding-top: 50px;
}

p{
    color: #4f3a21;
    font-family: 'Comfortaa', cursive;
}

h1{
    font-family: 'Courgette', cursive;
    color: #ba4343;
    text-align: center;
}

h2 {
    text-align: center;
}

img {
    border-radius: 10px;
}

.item img{
    text-align: center;
    margin: auto;
}

.carousel-caption {
    color: #fff;
    weight: 600;
}

a {
    color: #ba4343;
}

nav-bar {
    background-color: #3d3329;
}

footer {
    position: absolute;
    bottom: 0;
}

.searching {
    float: right;
    padding-top: 10px;
}

form {
    padding-left: 40px;
}

.showback {
    padding-left: 40px;
}