// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #4f3a21;
    color: #ba4343;
    font-family: 'Comfortaa', cursive;
    padding-top: 50px;
}

h1{
    font-family: 'Courgette', cursive;
    color: white;
    text-align: center;
}

h2 {
    text-align: center;
}

img {
    border-radius: 10px;
}

a {
    color: #ba4343;
}

nav-bar {
    background-color: #3d3329;
}

footer {
    position: absolute;
    bottom: 0;
}
